body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }


  .bg-secondary {
    color: RGB(84, 185, 72);
  }

  #topbar {
    background: #fff;
    padding: 10px;
  }

  .action-button {
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #d3d3d3;
    color: #6e6e6e;
    height: 32px;
    width: 32px;
    text-align: center;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  }

  .action-button:hover,
  .action-button:focus {
    background: #0079c1;
    color: #e4e4e4;
  }

  .active {
    background: #0079c1;
    color: #e4e4e4;
  }

  .esri-icon-non-visible::before {
    content: "\e610";
  }

  .esri-icon-visible::before {
    content: "\e611";
  }

  .activeStreeView {
    color: RGB(84, 185, 72);
  }


  #info {
    background-color: black;
    opacity: 0.75;
    color: orange;
    font-size: 18pt;
    padding: 8px;
    visibility: hidden;
  }

  #streetViewIcon .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
  }

  #streetViewIcon:hover .tooltiptext {
    visibility: visible;
  }

  .calcite-map.calcite-map-absolute{
    z-index:0;
  }

  /* Widget conatiner panbel position change */


  .container {
      height: 35%;
      width: 100%;
      background:#fff;
      bottom:2px;
      position:absolute;
      z-index:100;
      display:none;
  }

  .esri-feature-table__loader-container {
    
    width: 20px !important;
}

  .container .esri-button-menu__button.esri-icon-menu{
    font-size:32px !important;
    
  }
  
  .container .esri-feature-table__menu{
    order:1 !important;
  }

  .esri-field-column__header-content{
    font-size:14px;
    font-weight:bold;
  }

  .customTooltip * {
    color: #4a4a4a;
    font-size: 18px;
    margin-top:100px;
  }